.slogan__title {
  margin-bottom: 30px;
  white-space: pre;
  color: var(--sup-head-color);

  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  text-align: center;

  @media screen and (min-width: 767px) {
    font-size: 44px;
  }
}
.slogan__button {
  cursor: pointer;
  width: 200px;
  height: 50px;
  background: var(--button-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  color: var(--sup-head-color);
  border-radius: 4px;
}
